section{
    background-color: red;
}

.textoAzul{
    color: blue;
}

.textoAmarelo{
    color: yellow;
    font-weight: bold;
}

#textoRosa{
    color: palevioletred;
    font-weight: bold;
    font-size: large;
}