:root{
    --primary-color: #3C3C3C;
    --segundary-color: #ffffff;
    --highlight-color: #ff9e44;
    --border-radius-base: 8px;
}

*{
    font-family: "Rubik", sans-serif;
}

section{
    min-height: 100vh;
}

nav{
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #EDEDED;
    justify-content: space-between;
    padding: 14px 63px;
    align-items: center;
    -webkit-box-shadow: 0px 4px 4px 0px #00000025;
    -moz-box-shadow: 0px 4px 4px 0px #00000025;
    box-shadow: 0px 4px 4px 0px #00000025;
   
    a{
        color: var(--primary-color);
        text-decoration: none;
    }
}

.title{
        color: var(--segundary-color);
        font-size: 3.8rem;
        text-transform: uppercase;
}

#navBarLinks{
    display: flex;

    li{
        padding-left: 73px;
    }

    li:last-child{
        font-weight: bold;
    }
}

#homeSection{
    background-color: #222222;
    padding-top: 65px;
    display: flex;
    justify-content: space-between;

    #homePhoto{
    width: 50vw;
    height: calc(100vh - 65px);
    background-image: url('assets/photo/lipeHome.jpeg');
    background-size: cover;
    background-position: center;
}

    #homeContent{
    display: flex;
    flex-direction: column;
    width: 60vw;
    justify-content: center;
    align-items: center;
        
        h2{
            color: #b6b6b6;
            font-weight: 400;
            font-size: 2.4rem;
            padding: 24px 0 64px 0;
        }
    }
}



.downloadButtonHome{
    background-color: var(--highlight-color);
}

#aboutSection{
    background-color: var(--highlight-color);
    display: flex;
    

    #aboutMeTextsFlexContainer{
        padding-top: 65px;
        width: 60vw;
        display: flex;
        justify-content: center;
        align-items: center;

        #aboutMeTextsFlexItem{
            display: flex;
            flex-direction: column;
            width: 80%;
        }
    }

    #aboutMePhoto{
        background-image: url('assets/photo/graduate.jpeg');
        width: 40vw;
        background-size: cover;

    }

    p{
        font-size: 1.75rem;
        color: var(--segundary-color);
        padding: 45px 0 56px 0;
        text-align: justify;
    }
}

.linkedindButton{
    background-color: #FEAF67;
    padding: 14px;

}

#skillsSection{
    background-image: url("assets/photo/skillsPhoto.jpg");
    background-size: cover;

    .overlay{
        height: 100vh;
        width: 100%;
        background-color: #ffffff70;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1{
            color: var(--primary-color);
            padding-bottom: 68px;
        }

        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 800px;
            gap: 27px;
            padding-bottom: 164px;
        }

        li{
            background-color: #00000039;
            padding: 12px 17px;
            border-radius: var(--border-radius-base);
            color: var(--segundary-color);
            font-size: 1.93rem;
        }

        .downloadButtonSkills{
            background-color: #3C3C3C90;   
        }
    }
}

#contactSection{
    background-color: #2343e3;
    display: flex;

    #contactTextsContainer{
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        max-width: 100%;
        text-align: justify;

        h1{
            padding-bottom: 60px;
            text-decoration: underline;
        }

        p{
            color: var(--segundary-color);
            font-size: 1.56rem;
        }

        #contactTextsChild{
            display: flex;
            flex-direction: column;
            width: 80%;
            max-width: 700px;
        }
    }

    #contactPhoto{
        background-image: url('assets/photo/contactPhoto.jpeg');
        width: 40vw;
        background-size: cover;
        background-position: center;
    }
}

.emailAndPhone{
    font-style: normal;
    padding-top: 40px;
    padding-bottom: 60px;


    .contactItem{
        display: flex;
        padding: 12px 0 0 10px;

        p{
            padding-left: 14px;
        }
    }
}

.socialMedia{
    display: flex;
    gap: 1rem;
    cursor: pointer;
    

    a{
        background-color: #3756F3;
        padding: 12px;
        border-radius: var(--border-radius-base);
        transition: 0.3s;
    }
    a:hover{
        transform: translateY(5px); /*Serve para dar um deslocamento no item quando passar o cursor do mouse*/
        box-shadow: 0 0 15px var(--primary-color); /*Serve para dar criar uma sombra no item quando passar o cursor do mouse*/
    }

    img{

        height: 28px;
    }

    
}


#projectSection{
    background-color: #222222;
    padding: 100px 10%;
    flex-wrap: wrap;

    h1{
        padding-top: 40px;
        margin-bottom: 40px;
        letter-spacing: 3px;
    }

    .groupCards{
        display: flex;
        gap: 30px;
        text-align: justify;
        padding-top: 100px;
        overflow: auto;
    }

    .card{
        background-color: #1C1C1C;
        border: 2px solid var(--primary-color);
        padding: 40px;
        width: 400px;
        border-radius: 15px;
        transition:  0.3s;
        flex-wrap: wrap;
    }

    .card :hover{
        transform: translateY(5px); /*Serve para dar um deslocamento no item quando passar o cursor do mouse*/
        box-shadow: 0 0 15px var(--primary-color); /*Serve para dar criar uma sombra no item quando passar o cursor do mouse*/
    }

    h2{
        margin-bottom: 15px;
        font-size: 2rem;
        color: #b6b6b6;
    }

    p{
        font-size: 1rem;
        color: var(--segundary-color);
        margin-bottom: 20px;
    }

    .cardButton{
        background-color: var(--highlight-color);
        color: var(--segundary-color);
        padding: 7px 14px 7px 14px;
        border-radius: 20px;
        transition: 0.3s;
        text-decoration: none;
        gap: 12px;
    }
}

.defaultButton{
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 8px 14px;
    color: var(--segundary-color);
    border-radius: var(--border-radius-base);
    cursor: pointer;

    a{
        padding-left: 11px;
        color: var(--segundary-color);
        text-decoration: none;
    }
}

.customLineHeight{
    line-height: 2.4rem;
}

@media(orientation: portrait){

    .title{
        font-size: 2.6rem;
        text-align: center;
    }
    #homeSection{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2{
            font-size: 1.71rem;
            text-align: center;
        }

        #homePhoto{
            height: 30vh;
            width: 30vh;
            border-radius: 50%;
            margin-bottom: 3.8rem;
        }

        #homeTexts{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    #aboutSection{
        #aboutMeTextsFlexContainer{
            width: 100vw;
        }
        #aboutMeTextsFlexItem{
            align-items: center;
        
        }
            p{
                text-align: justify;
            }

        #aboutMePhoto{
            display: none;
        }
    }

    #projectSection{
    
        h1{
            display: flex;
            flex-direction: column;
            align-items: center;
        } 
    }   

    #contactSection{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 3.5rem 0;

        h1{
            text-align: center;
        }

        #contactTextsChild{
            align-items: center;
        }

        #contactTextsContainer{
            width: 100vw;
        }

        #contactPhoto{
            height: 30vh;
            width: 30vh;
            border-radius: 50%;
            margin-bottom: 1.8rem;
        }

        p{
            text-align: justify;
        }

        .contactItem:last-child{
            text-align: start;
            img{
                width: 1.75rem;
                height: 1.75rem;
            }
            
        }
        
    }
}

@media (max-width: 750px) {
        nav{
            display: none;
        }
    }
